@font-face {
    font-family: Akrobatlight;
    src: url(../fonts/Akrobatlight.ttf); 
    }
@font-face {
    font-family: Akrobatextrabold;
    src: url(../fonts/Akrobatextrabold.ttf); 
    }

body {
    font: Akrobatlight, PT Sans Narrow, Arial, sans-serif;

    }
/* Section row-1 */
.row-1 {
	height: 950px;
    background: url('../img/row-1-bg.jpg') no-repeat top center; 
}
.header-logo {
	height: 950px;
	background: url('../img/header-logo.png') no-repeat top center; 
}
.header-del {
	height: 950px;
	background: url('../img/header-logo.png') no-repeat top center; 
}
.header-time {
	height: 950px;
	background: url('../img/header-logo.png') no-repeat top center; 
}
.header-phone {
	height: 950px;
	background: url('../img/header-logo.png') no-repeat top center; 
}
/* Section row-2 */
.row-2 {
	height: 950px;
    background: url('../img/row-1-bg.jpg') no-repeat top center; 
}
/* Section row-3 */
.row-3 {
	height: 950px;
    background: url('../img/row-1-bg.jpg') no-repeat top center; 
}
/* Section row-4 */
.row-4 {
	height: 950px;
    background: url('../img/row-1-bg.jpg') no-repeat top center; 
}
/* Section row-5 */
.row-5 {
	height: 950px;
    background: url('../img/row-1-bg.jpg') no-repeat top center; 
}
/* Section row-6 */
.row-6 {
	height: 950px;
    background: url('../img/row-1-bg.jpg') no-repeat top center; 
}